html {
    box-sizing:border-box
}
*,
*::before,
*::after{
    box-sizing:inherit
}


:root { --brand-color: #2196F3; 
    --main-color: #212121;
    --wite-color: #FFFFFF;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}

body {
    color: var(--main-color);
    font-family: "Roboto";
    sans-serif;
    margin: 0;
}


    
    .section-header {
    
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-block-color: #ECECEC;
   
    }

.main-nav {
    display: flex;
    align-items: center;
   
}

.logo-web {
    color:var(--brand-color);
    font-family: "Raleway";
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    list-style: none;
    font-weight: 700;
}
.logo-studio {
    color: #000000;
    font-family: "Raleway"; 
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    list-style: none;
    font-weight: 700;
}
.navigation {
    display: flex;
    text-decoration: none;
    list-style: none;
    margin-left: 93px;
    margin-top: 0px;
    margin-bottom: 0px;
    background: none;
    padding: 0;
}

.navigation .navigation-item:not(:last-child) {
    margin-right: 50px;
}
 .navigation-item .item {
       display: block;
     color: var(--main-color);
     font-style: normal;
     font-family: "Roboto";
     font-weight: 500;
     font-size: 14px;
     line-height: 1.14;
     letter-spacing: 0.02em;
     padding-top: 32px;
     padding-bottom: 32px;

 }
.navigation .item:hover {
    color: var(--brand-color); 
    background: none;
   
 }
.navigation .item:focus {
    color: var(--brand-color);
    background: none;
     
}

.item {
    color: var(--main-color);
    cursor: pointer;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-decoration: none;
    list-style: none;
}

.adress-header{
    display: flex;
    text-decoration: none;
    list-style: none;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0;
}
.adress-header .navigation-item +.navigation-item {
    margin-left: 50px;
}

.adress-header .adress-item {
    color: #757575;
    font-family: "Roboto";
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-weight: 500;
    text-decoration: none;
    list-style: none;
}

.adress-header .adress-item:hover {
    color: var(--brand-color);
}
.adress-header .adress-item:focus {
    color: var(--brand-color);
}
/*-----------------------------------------HERO----------------*/

.hero {
    background: #2F303A;
    padding-top: 200px;
    padding-bottom: 200px;
}


.slogan {
    color: var(--wite-color);
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-right: auto ;
    margin-left:auto;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: auto;
    width: 696px;
    
}
.main-button {
    color: var(--wite-color);
    background-color: var(--brand-color);
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    display: block;
    align-items: center;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: none;
    padding-top: 10px;
    padding-right: 32px;
    padding-bottom: 10px; 
    padding-left: 32px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left:  auto;
    
}
.main-button:hover {
    color: var(--brand-color);
    background-color: var(--wite-color);
}
.main-button:focus {
    color: var(--brand-color);
    background-color: var(--wite-color);
}

.hide {
    display: none;
    margin: 0;
}


/*---------------------------------------PREFERENTS---------------*/
img {
    margin: 0;
    padding: 0;
    display: block;
    max-width: 100%;
    height: auto;
}
.preferens {
    padding-top: 107px;
 
}
.caption {
    margin-top: 0px;
    margin-bottom: 10px;
}



.list-preferens {
    display: flex;
    padding: 0;
    margin: 0;
}

.caption-text {
    display: block;
    width: 270px;
}

.caption-text:not(:last-child) {
    margin-right: 30px;
}

.caption {
    color: var(--main-color);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
    text-align: left;
}

.text {
    color: #757575;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
}


/*---------------------------------------EXAMPLE---------------*/


.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
 .container-example {
    padding-bottom: 0;
  }

.subtitle {

    color: var(--main-color);
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    text-decoration: none;
    list-style: none;
    margin-top: 0;
    margin-bottom: 50px;
}

.list-example {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.image-example:not(:last-child) {
    margin-right: 30px; 
}

/*---------------------------------------TEAM---------------*/
.container-team {

    background: #F5F4FA;
}

.list-style {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 0;
    padding-top: 0;
    padding-left: 0;
    padding-left: 0;
    padding-bottom: 0;
    text-decoration: none;
    list-style: none;
}
.headline {
    margin-top: 30px margin-bottom: 10px;
}

.submite-text {
    color:var(--main-color);
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}


.team {
    margin-top:  94px;
    margin-bottom:  94px;
   

}
 .headline {
    text-align: center;
    color: var(--main-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-decoration: none;
    list-style: none;
    margin-top: 0;
    margin-bottom: 10px;
   
}
 .headline-text {
    text-align: center;
    color: #757575; 
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin: 0;
    
   
}

.wrapper-team {
    padding-top: 30px;
    padding-bottom: 30px;
    border-width: 1px;
    border-style: solid;
    border-color: #EEEEEE;}


.card:not(:last-child) {
    margin-right: 30px;
}


/*----------------------PORTFOLIO-------------------*/

button {
    font-family: inherit;
}



.item:hover {
    color: var(--wite-color);
    background-color: var(--brand-color);
}

.item:focus {
    color: var(--wite-color);
    background-color: var(--brand-color);
}
.filter .filter-item { 
    color: var(--main-color);
    background-color: 
    #F5F4FA; 
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22pt;
    text-align: center;
   border: 0;
   border-radius: 4px;
   margin: 0;
   
}


.list-filter {
    display: flex;
    align-items: center;  
    justify-content: center;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    
}

.filter {
    margin: 0;

}
.list-filter .filter:not(:last-child) {
    margin-right: 8px;
}


.filter .filter-item:hover {
    color: var(--wite-color);
     background-color: var(--brand-color);
}
.filter .filter-item:focus {
    color: var(--wite-color);
    background-color: var(--brand-color);
}
.filter-example {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 0;
    padding: 0;
    
    text-decoration: none;
    list-style: none;
   
}
.info {
    margin-right: 30px;
    margin-bottom: 30px;
    text-decoration: none;
    list-style: none;
   

}

.info:nth-child(3n+3) {
    margin-right: 0;

}

.info .info-title {
    margin-bottom: 4px;
    margin-top: 0;
    text-align: left;
    text-decoration: none;
    list-style: none;
}


.info .info-title {
    color: var(--main-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-decoration: none;
    list-style: none;
    padding-left: 24px;
    padding-right: 24px;
}
.info .info-text {
    color: #757575;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    text-decoration: none;
    list-style: none;
    text-align: left;
    margin: 0;
    padding-left: 24px;
    padding-right: 24px;
}

.info .text-link {
    display: block;
    text-decoration: none;
    list-style: none;
}

.address {
    padding: 0;
    margin-top: 20px;
    margin-bottom: 0;
    text-decoration: none;
    list-style: none;
}
.point-address:not(:last-child) {
            margin-bottom: 9px;
}

.item-address {
    color: var(--wite-color);
    background: #2F303A;
    font-style: normal;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    list-style: none;
}
.item-mail {
    color: rgba(255, 255, 255, 0.6);
    background: #2F303A;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    list-style: none;
}
    
.item-tel {
    color: rgba(255, 255, 255, 0.6);
    background: #2F303A;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    list-style: none;
}

.wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #EEEEEE;
}
.no-gap {
    display: block;
}
.footer {
    background: #2F303A;
    display: block;
    padding-top: 60px;
    padding-bottom: 60px;
}
.logo-footer {
    color: var(--wite-color);
}
 .item-adress {
    display: block;
}
.item-mail {
    display: block;
}
 
.item-tel {
    display: block;
}